/* ========================================================== */
/* === LATEST CORE 2.O CUSTOM STYLES ======================== */
/* ========================================================== */
/* ========================================================== */
/* === 1.0 OVERALL HTML ELEMENTS ============================ */
body,
body#splash-page {
  background-color: #333;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQImWMwMDD4j4wZZGRk/iNjBgwV6AIAFJkYATPhGloAAAAASUVORK5CYII=") repeat; }

/* WebFont Stack 1 - Normal Weight */
@font-face {
  font-family: "futurapro-normal";
  src: url("fonts/futurapro/futurapro-normal.eot");
  src: url("fonts/futurapro/futurapro-normal.eot?#iefix") format("embedded-opentype"), url("fonts/futurapro/futurapro-normal.woff") format("woff"), url("fonts/futurapro/futurapro-normal.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* WebFont Stack 2 - Bold, Black, or Heavy */
@font-face {
  font-family: "futurapro-bold";
  src: url("fonts/futurapro/futurapro-bold.eot");
  src: url("fonts/futurapro/futurapro-bold.eot?#iefix") format("embedded-opentype"), url("fonts/futurapro/futurapro-bold.woff") format("woff"), url("fonts/futurapro/futurapro-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }
/* Links */
a {
  color: #CD0000;
  text-decoration: none; }

a:hover,
a:focus {
  color: #FF9934;
  text-decoration: underline; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "futurapro-normal", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* Text Selection */
::-moz-selection {
  color: #fff;
  background: #F14A36; }

::selection {
  color: #fff;
  background: #F14A36; }

/* ========================================================== */
/* === 2.0 BOOTSTRAP COMPONENTS ============================= */
/* === PAGE NAVIGATOR (pager) =============================== */
.pager li > a,
.pager li > span {
  color: #3E0001;
  background-color: transparent;
  border: 2px solid #3E0001; }

.pager li > a:hover,
.pager li > a:focus {
  background-color: #3E0001;
  color: #fff; }

/* === DROPDOWN MENUS ======================================= */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #3E0001; }

/* === PILLS ================================================ */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #535353; }

/* === PRIMARY BUTTON ======================================== */
.btn-primary {
  background-color: #FF9934;
  background-image: -webkit-linear-gradient(top, #FF9934 0%, #CD0000 100%);
  background-image: -o-linear-gradient(top, #FF9934 0%, #CD0000 100%);
  background-image: linear-gradient(to bottom, #FF9934 0%, #CD0000 100%);
  background-repeat: repeat-x;
  border-color: #FF9934; }

.btn-primary:hover,
.btn-primary:focus {
  background-color: #FF9934;
  background-position: 0 15px; }

.btn-primary:active,
.btn-primary.active {
  background-color: #FF9934;
  border-color: #3E0001; }

.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #B9B287;
  background-image: none;
  border-color: #777; }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #FF9934;
  color: #fff; }

/* ========================================================== */
/* === 3.0 LATEST CORE 2 COMPONENTS ========================= */
/* === MODULE HEADER ======================================== */
#module-title {
  color: #fff;
  font-family: "futurapro-normal";
  font-size: 27px;
  line-height: 27px;
  text-shadow: 1px 1px 0px #000, 2px 2px 0px #000;
  padding-top: 25px; }

#module-title small, .module-title small {
  color: #535353;
  font-weight: normal !important; }

#splash-page .module-title {
  font-size: 46px;
  line-height: 46px; }

/* Module Title Media Queries */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #module-title {
    font-size: 33px;
    line-height: 33px; }

  #splash-page .module-title {
    font-size: 35.2px;
    line-height: 35.2px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #module-title {
    font-size: 35px;
    line-height: 35px; }

  #splash-page .module-title {
    font-size: 45.8px;
    line-height: 45.8px; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #module-title {
    font-size: 39px;
    line-height: 39px;
    /* text-align:left;
    padding-left:16px; */ }

  #splash-page .module-title {
    font-size: 49px;
    line-height: 49px; } }
#module-credit {
  color: #fff;
  font-family: "futurapro-normal";
  text-shadow: 1px 1px 0px #000, 2px 2px 0px #000;
  font-size: 12px; }

/* === MODULE NAVIGATION MENU =============================== */
.module-nav li.active a,
.module-nav li.active a:focus,
.module-nav li.active a:hover {
  background-color: #3E0001; }

/* === MODULE UNIT/CHAPTER DROPDOWN MENU ==================== */
.unit-header {
  background: #3E0001;
  color: #fff; }

#collapsible-toc .panel-default .panel-heading {
  background: #3E0001;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important; }

#collapsible-toc .panel-default .panel-heading a,
#collapsible-toc .panel-default .panel-heading a:hover,
#collapsible-toc .panel-default .panel-heading a:active {
  color: #fff !important; }

/* === BACK TO TOP BUTTON =================================== */
.back-top a {
  color: #ccc;
  text-decoration: none; }

.back-top a:hover {
  color: #CD0000;
  text-decoration: none; }

/* === IMAGE AND TEXT CAPTIONS ============================== */
.image-caption, .text-caption {
  background: #d7d7d7; }

/* ========================================================== */
/* === 4.0 MODULE-SPECIFIC COMPONENTS ======================= */
body#splash-page {
  background-color: #333; }

#splash-page .launch-module {
  font-family: "futurapro-normal"; }

#splash-page .footer-text a {
  color: #FF9934; }

#module-topbanner {
  background-image: url("../assets/module-banner.jpg");
  background-repeat: no-repeat;
  background-size: 1168px 170px;
  background-position: top center; }

/*.question-wrap {
	font-size: 15px;
}*/
.response-group-item:last-child {
  border-bottom: none; }

/**=============================================**/
/**==BRANCHING SIM=====**/
.fws-data-legend {
  margin-bottom: 0px; }

.fws-page {
  display: none; }

.fws-page.current {
  display: block; }

.fws-page .panel {
  clear: both; }

.fws-page h4 {
  margin-top: 0px; }

.fws-page .panel {
  margin: 10px auto; }

.fws-footer {
  text-align: center; }

#fws-progress-bar {
  width: 100%; }

.chief-thumb {
  float: left;
  margin-right: 8px;
  margin-bottom: 10px; }

#firewx-sim .panel-default > .panel-heading {
  background-color: #DE4D00; }

#firewx-sim .panel-default > .panel-heading a {
  color: #fff; }

#firewx-sim .panel-default > .panel-heading {
  padding: 4px 8px; }

#firewx-sim .panel-body {
  padding: 4px; }

#firewx-sim .tabs-container {
  margin: 0px; }

#firewx-sim .nav > li > a {
  padding: 5px 10px; }

#firewx-sim .panel {
  margin-bottom: 10px; }

/*# sourceMappingURL=module-custom.css.map */
