.topbar {
  border-bottom: 1px solid #ddd;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-nav > li > a {
  font-weight: bold;
}
.navbar-nav > li.active > a {
  color: #444;
}
.navbar-nav > li > a {
  color: #888;
}
.comet-logo {
  width: 96px;
  margin-top: -8px;
}

.parallax-header {
  min-height: 300px;
  position: relative;
  margin-bottom: 20px;
  background-image: url('../media/intro_image_d.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-heading {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 30px;
  font-size: 24px;
  font-weight: light;
  text-shadow: 2px 2px 2px #000;
  color: #fff;
}

.start-button-wrap {
  text-align: center;
}

.portfolio-container > h2,
.portfolio-container > p {
  text-align: center;
}
.portfolio-item-card {
  /*border: 1px solid #eee;*/
  margin-bottom: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 2px 2px 10px rgba(0,0,0, 0.15);
}
.card-thumb {
  background-color: #3C3C3C;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 150px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.card-title {
  padding: 6px 8px;
  font-size: 1.3em;
  font-weight: lighter;
  line-height: 1.2em;
  min-height: 90px;
}
.card-category {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 8px;
}
